<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Starter Page - TigerTutorsHub</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
    
    {% load static %}

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TigerTutorsHub
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="starter-page-page">
      
<section class="vh-100 dark-background">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Terms and Conditions</h1>
                  <p>Welcome to Tiger Tutors Hub. By accessing or using our website and services, you agree to comply with and be bound by the following terms and conditions. Please read them carefully.</p>
                  
                <h2>1. Acceptance of Terms</h2>
                  <p>By using Tiger Tutors Hub, you agree to these terms and conditions. If you do not agree, please do not use our website or services.</p>
                  
                <h2>2. Services Provided</h2>
                  <p>Tiger Tutors Hub provides access to past exam papers and revision materials for educational purposes. We aim to assist students in their studies by offering a comprehensive repository of academic resources.</p>

                <h2>3. User Obligations</h2>
                  <p>
                      <strong>Age Requirement:</strong> You must be at least 13 years old to use our services.
                      <strong>Accurate Information:</strong> You agree to provide accurate and complete information when registering or using our services.
                      <strong>Responsible Use:</strong> You agree to use our services responsibly and ethically, respecting intellectual property rights and not engaging in any harmful activities.
                  </p>
                  
                <h2>4. Intellectual Property</h2>
                  <p>
                      Content Ownership: All content on Tiger Tutors Hub, including past papers, revision materials, text, graphics, and logos, is the property of Tiger Tutors Hub or its content suppliers and is protected by copyright laws.
                      Limited License: You are granted a limited, non-exclusive, non-transferable license to access and use the content for personal, non-commercial purposes.
                  </p>
                  
                <h2>5. Prohibited Activities</h2>
                  <p>
                      Unauthorized Access: You agree not to access or use Tiger Tutors Hub's services through unauthorized means.
                      Content Misuse: You agree not to copy, distribute, or modify the content without our express written consent.
                  </p>
                  
                <h2>6. Privacy</h2>
                  <p>Your use of our website is also governed by our Privacy Policy, which explains how we collect, use, and protect your personal information.</p>
                  
                <h2>7. Disclaimers and Limitation of Liability</h2>
                  <p>
                      <strong>No Guarantees:</strong> Tiger Tutors Hub provides the services "as is" without any warranties or guarantees. We do not guarantee the accuracy, completeness, or timeliness of the content.
                      <strong>Limited Liability:</strong> To the fullest extent permitted by law, Tiger Tutors Hub shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use or inability to use our services.
                  </p>
                  
                <h2>8. Changes to Terms</h2>
                  <p>We may update these terms and conditions from time to time. Any changes will be posted on this page, and your continued use of the website will signify your acceptance of the changes.</p>
                  
                <h2>9. Governing Law</h2>
                  <p>These terms and conditions shall be governed by and construed in accordance with the laws of the Republic of Kenya.</p>
                  
                <h2>10. Contact Information</h2>
                  <p>If you have any questions or concerns about these terms and conditions, please contact us at [Contact Email Address].</p>
                  

                
                  
                    
                  

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg " style="background-color: orange">Accept</button>
                  </div>
                    

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>



