{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid mt-5">
    <h2 class="text-center">Contacts List</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <div class="btn-group mr-2" role="group">
                        <a href="{% url 'edit_contact' contact.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{% url 'delete_contact' contact.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
