{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="text-center">
                    <h2 class="mb-o">Update Profile</h2>
                </div>
                <div class="card-body bg-light">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_image" class="form-label">Profile Image</label>
                            <input type="file" name="image" class="form-control" id="id_image">
                        </div>
                        <div class="form-group">
                            <label for="id_email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="id_email" value="{{ profile_form.email.value }}">
                        </div>
                        <div class="form-group">
                            <label for="id_bio" class="form-label">Bio</label>
                            <textarea name="bio" class="form-control" id="id_bio">{{ profile_form.bio.value }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_location" class="form-label">Location</label>
                            <input type="text" name="location" class="form-control" id="id_location" value="{{ profile_form.location.value }}">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success mt-3">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
