{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid mt-5 mb-5">
    <h2 class="text-center">Edit Contact</h2>
    <div class="card-body">
         <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
               <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
                  {{ field }}
                  {{ field.errors }}
               <div class="invalid-feedback">
               Please provide a valid {{ field.label }}.
               </div>
               </div>
          {% endfor %}
             <div class="d-flex justify-content-center mt-3">
               <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
             </div>
         </form>
    </div>
</div>
{% endblock %}
