{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Membership</h2>
        <p style="font-size: medium">Choose your plan</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-3">

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Free</h3>
              <h4><sup>Ksh</sup>0<span> / month</span></h4>
              <ul> 
                  <li>Access limited past papers</li>
                  <li>Community support</li>
                  <li>Basic AI features</li>
                  <li class="na">Advanced question generation</li>
                  <li class="na">Premium content access</li> 
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Join Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Standard</h3>
              <h4><sup>Ksh</sup>350<span> / month</span></h4>
              <ul>
                <li>Access to all past papers</li>
                <li>Community support</li> 
                <li>Enhanced AI features</li> 
                <li>Advanced question generation</li> 
                <li class="na">Premium content access</li> 
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Join Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
              <h3>Professional</h3>
              <h4><sup>Ksh</sup>850<span> / month</span></h4>
              <ul>
                  <li>Access to all past papers</li>
                  <li>Priority community support</li>
                  <li>Advanced AI features</li>
                  <li>Advanced question generation</li>
                  <li>Premium content access</li> 
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Join Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>Ksh</sup>1500<span> / month</span></h4>
              <ul>
                  <li>Access to all past papers</li>
                  <li>Priority community support</li>
                  <li>Advanced AI features</li>
                  <li>Personalized study plans</li>
                  <li>Premium content access</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Join Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

{% endblock %}